.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 13px;
  background-color: #86D3F4;
  width: 380px;
  height: 100%;
  padding: 40px 24px;
}