.page {
  position: relative;
  //transition: all 5s ease;
}

.video {
}

.banner {
  position: absolute;
  bottom: 144px;
  left: 1280px;
}
.bannerVisible{
  animation: bannerVisible 2.5s forwards;
}

@keyframes bannerVisible {
  0% {left: 1280px}
  100% {left: 1029px}
}

