.checkboxContainer {
  display: flex;
  width: 284px;
  gap: 10px;
  margin-bottom: 13px;
}

.label {
  color: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-align: start;
  pointer-events: none;
  //cursor: pointer;

  &:active {
    background-color: #4E4E4E;
    color: #86D3F4;
  }
}

.checkBtn {
  width: 100% !important;
  padding: 0 !important;
  height: 40px !important;
  color: #565656;
  border: none !important;

  &:hover{
    color: #86D3F4;
  }
}

.input {
  opacity: 0;
  position: absolute;
  width: 1px;
  margin: 0;


  &:focus + label {
    background-color: black;
    color: #86D3F4;
  }
}

.checkMark {
  color: #86D3F4;
  cursor: pointer;
}

.activeCheckMark {
  color: black;
}
